				@font-face {
					font-family: 'tn-bebas';
					src: url('/wp-content/uploads/useanyfont/5194tn-bebas.woff2') format('woff2'),
						url('/wp-content/uploads/useanyfont/5194tn-bebas.woff') format('woff');
				}

				.tn-bebas{font-family: 'tn-bebas' !important;}

				.et_gf_tn-bebas{background:none !important;font-family:tn-bebas;text-indent:0 !important;font-size:25px;}

						@font-face {
					font-family: 'tn-averta-reg';
					src: url('/wp-content/uploads/useanyfont/1252tn-averta-reg.woff2') format('woff2'),
						url('/wp-content/uploads/useanyfont/1252tn-averta-reg.woff') format('woff');
				}

				.tn-averta-reg{font-family: 'tn-averta-reg' !important;}

				.et_gf_tn-averta-reg{background:none !important;font-family:tn-averta-reg;text-indent:0 !important;font-size:25px;}

						@font-face {
					font-family: 'tn-averta-bold';
					src: url('/wp-content/uploads/useanyfont/8313Tn-averta-bold.woff2') format('woff2'),
						url('/wp-content/uploads/useanyfont/8313Tn-averta-bold.woff') format('woff');
				}

				.tn-averta-bold{font-family: 'tn-averta-bold' !important;}

				.et_gf_tn-averta-bold{background:none !important;font-family:tn-averta-bold;text-indent:0 !important;font-size:25px;}

		