				@font-face {
					font-family: 'tn-bebas';
					src: url('/wp-content/uploads/useanyfont/5194tn-bebas.woff2') format('woff2'),
						url('/wp-content/uploads/useanyfont/5194tn-bebas.woff') format('woff');
					font-display: auto;
				}

				.tn-bebas{font-family: 'tn-bebas' !important;}

						@font-face {
					font-family: 'tn-averta-reg';
					src: url('/wp-content/uploads/useanyfont/1252tn-averta-reg.woff2') format('woff2'),
						url('/wp-content/uploads/useanyfont/1252tn-averta-reg.woff') format('woff');
					font-display: auto;
				}

				.tn-averta-reg{font-family: 'tn-averta-reg' !important;}

						@font-face {
					font-family: 'tn-averta-bold';
					src: url('/wp-content/uploads/useanyfont/8313Tn-averta-bold.woff2') format('woff2'),
						url('/wp-content/uploads/useanyfont/8313Tn-averta-bold.woff') format('woff');
					font-display: auto;
				}

				.tn-averta-bold{font-family: 'tn-averta-bold' !important;}

						h1, h2, h3, h4, h5, h6, .entry-title, body.single-post .entry-title, body.page .entry-title, body.category .entry-title, .widget-title{
					font-family: 'tn-averta-bold' !important;
				}
						body, p, blockquote, li, a, strong, b, em{
					font-family: 'tn-averta-reg' !important;
				}
						h3.tn-field-txt-no{
					font-family: 'tn-bebas' !important;
				}
						.tn-slider-tit{
					font-family: 'tn-averta-bold' !important;
				}
		